.grid-2 {
    color: antiquewhite;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background-color: #333;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100vh;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  .section-1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-1 img {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .section-1 .icons {
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }
  .section-1 a {
    background-color:antiquewhite;
    margin-top: 10px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    border-radius: 5px;
    color: darkred;
  }
  .section-1 a:hover {
    transform: translateY(-3px) scale(1.2);
  }
  .courses li::before {
    content: "\f518";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 5px;
  }
  .projects li::before {
    content: "\f542";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 5px;
  }